<strong>Olá, {{ provider }}</strong>
<p> Ocorreu um canelamento de horário, confira abaixo:</p>
<p>
  <strong> Cliente: </strong> {{ user }} <br/>
  <strong> Data/Hora: </strong> {{ date }} <br/>
  <br/>
  <small>
    O horario esta disponivel para novos agendamentos!
  </small>
</p>
